<div id="sidebar">

	{{#link-to "create"}}
	<button id="compose">Compose</button>
	{{/link-to}}



<div id="nav">
	<nav>
	  {{#link-to "index"}}
	    Inbox
	  {{/link-to}}
	  <br><br><br>
	  {{#link-to "sent"}}
	    Sent
	  {{/link-to}}
	  <br><br><br>
	  {{#link-to "trash"}}
	    Trash
	  {{/link-to}}

	</nav>
</div>


</div>

<div id="body">


	{{outlet}}

</div>